{% extends "base.html" %}

{% block title %}Search{% endblock %}

{% block users_active %}active{% endblock %}

{% block content %}

<!-- Button trigger modal -->

  
  <!-- Modal -->
  <div class="modal fade" id="userModal" tabindex="-1" aria-labelledby="userModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <form method="post" action="/form_add_list">
          <div class="modal-header">
            <h5 class="modal-title" id="userModalLabel">Add List</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <div class="mb-3">
              <label for="musicname" class="form-label">Musicname</label>
              <input type="text" class="form-control" id="musicname" name="musicname" placeholder="Musicname">
            </div>
            <div class="mb-3">
              <label for="length" class="form-label">Length</label>
              <input type="number" class="form-control" id="length" name="length" placeholder="Length">
            </div>
            <div class="mb-3">
              <label for="year" class="form-label">Year</label>
              <input type="number" class="form-control" id="year" name="year" placeholder="Year">
            </div>
            <div class="mb-3">
              <label for="language" class="form-label">Language</label>
              <input type="text" class="form-control" id="language" name="language" placeholder="Language">
            </div>
            <div class="mb-3">
              <label for="sid" class="form-label">Sid</label>
              <input type="number" class="form-control" id="sid" name="sid" placeholder="Sid">
            </div>

          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
            <button type="submit" class="btn btn-primary">Add</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Singer</th>
        <th><div class="dropdown">
          <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown">
            language
          </button>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="#">Chinese 1</a>
            <a class="dropdown-item" href="#">English 2</a>
            <a class="dropdown-item" href="#">Others 3</a>
          </div></th>
        </div>
        <th scope="col">Length</th>
        <th scope="col">SID</th>
      </tr>
    </thead>
    <tbody>
      {% for list in lists %}
      <tr style="vertical-align: middle;">
        <th scope="row">{{ loop.index1 }}</th>
        <td>{{ list.musicname }}</td>
        <td>{{ list.sid }}</td>
        <td>{{ list.language }}</td>
        <td>{{ list.length }}</td>
        <td>{{list.sid}}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  
  {% if exists("pagination") %}
  <ul class="pagination">
    {% if existsIn(pagination, "previous") %}
    <li class="page-item">
      <a class="page-link" href="/list/{{ pagination.previous }}" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    {% else %}
    <li class="page-item disabled">
      <a class="page-link" href="#" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    {% endif %}
    {% if existsIn(pagination, "left_ellipsis") %}
    <li class="page-item"><a class="page-link" href="/list/1">1</a></li>
    <li class="page-item disabled"><a class="page-link" href="#">...</a></li>
    {% endif %}
    {% for page in pagination.pages_left %}
    <li class="page-item"><a class="page-link" href="/list/{{ page }}">{{ page }}</a></li>
    {% endfor %}
    <li class="page-item active" aria-current="page"><a class="page-link" href="/list/{{ pagination.current }}">{{ pagination.current }}</a></li>
    {% for page in pagination.pages_right %}
    <li class="page-item"><a class="page-link" href="/list/{{ page }}">{{ page }}</a></li>
    {% endfor %}
    {% if existsIn(pagination, "right_ellipsis") %}
    <li class="page-item disabled"><a class="page-link" href="#">...</a></li>
    <li class="page-item"><a class="page-link" href="/list/{{ pagination.total }}">{{ pagination.total }}</a></li>
    {% endif %}
    {% if existsIn(pagination, "next") %}
    <li class="page-item">
      <a class="page-link" href="/list/{{ pagination.next }}" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
    {% else %}
    <li class="page-item disabled">
      <a class="page-link" href="#" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
    {% endif %}
  </ul>
  {% endif %}
{% endblock %}